$color-secondary: #ff5f18;
$color-details: #ff9b70;

$mq-phone: 481px;
$mq-tablet: 769px;
$mq-computer: 1025px;
$mq-large-screens: 1201px;

$h1-font-size-big-screen: 1.5rem;
$h1-font-size-small-screen: 1rem;

$h2-font-size-big-screen: 1.5rem;
