@import '../Variables.scss';

#image-julia {
  width: 25vw;
  height: 25vw;
  box-shadow: 1px 1px 50px $color-secondary;
}

.top-container {
  text-align: center;
  margin: 4% 0;
  height: 100%;
}

#introduction {
  font-size: $h1-font-size-big-screen;
  font-weight: 400;

  @media screen and (max-width: $mq-phone) {
    font-size: $h1-font-size-small-screen;
    font-weight: 400;
  }
}

.fab {
  font-size: 2.5rem;
}

.fab:hover {
  color: $color-secondary;
}
