@import "../Variables.scss";


#image-julia {
  width: 25vw;
  height: 25vw;
}

.top-container {
  text-align: center;
  margin: 5% 0;
  height: 100%;
}

#introduction {
  font-size: 1.5rem;

  @media screen and (max-width:$mq-phone){
    font-size: 1rem
  }
}

.fab {
  font-size: 2.5rem;
}

.fab:hover{
  color: $color-secondary;

}
