@import '../Variables.scss';

h3 {
  color: $color-secondary;
}

@media screen and (max-width: $mq-phone) {
  li {
    margin: 10%;
  }
}

.gif {
  width: 30vw;
  margin: 5%;

  @media screen and (max-width: $mq-phone) {
    width: 50vw;
  }
}
.gif-container {
  display: flex;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: auto 80% auto;

  @media screen and (max-width: $mq-phone) {
    grid-template-columns: auto 90% auto;
  }
}

// .gridRight {
//   grid-column: 3;
// }

// .gridLeft {
//
// }

.cardFlex {
  display: flex;
  align-items: center;
  grid-column: 2;
  margin: 5% 0;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  box-shadow: 10px 5px 15px $color-secondary;

  @media screen and (max-width: $mq-phone) {
    flex-direction: column;
  }
}

.gridLeft {
  padding: 0 5%;

  &__description {
    text-align: left;
  }
}

.gridRight {
  padding: 0 5%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  &__link {
    text-decoration: underline;
    color: $color-secondary;
  }
  @media screen and (max-width: $mq-phone) {
    padding: 0;
  }
}

#desktopOnly {
  margin: 0;
}

.projectIcons {
  font-size: 30px;
  padding: 5px;
}

.projectImg {
  margin: 20% 0;
}
//TODO:  fix positioning so pictures and gifs are evenly spaced together with the text
//TODO: add some animations
