@import 'src/components/Variables.scss';

.App {
  text-align: center;
}

body {
  scroll-behavior: smooth;
  line-height: 1.8;

  @media screen and (max-width: $mq-phone) {
    font-size: 0.7rem;
  }
}
