@import '../Variables.scss';

#navigation {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}

#logo {
  margin-right: auto;
}

a {
  margin: 4% 5%;
  text-decoration: none;
  color: black;
}

a:hover {
  color: $color-secondary;
}

a:active {
  text-decoration: underline;
}

@media screen and (max-width: $mq-phone) {
  #navigation {
    font-size: 0.8rem;
  }
  a {
    margin: 2% 3%;
  }
}
