@import '../Variables.scss';

#about {
  display: flex;
  flex-direction: column;

  align-items: center;
  @media screen and (max-width: $mq-phone) {
    margin: 5%;
  }

  h2 {
    font-size: $h2-font-size-big-screen;
  }

  p {
    width: 50%;
    @media screen and (max-width: $mq-tablet) {
      width: 85%;
    }
  }
}
