@import '../Variables.scss';

#about {
  display: flex;
  flex-direction: column;

  align-items: center;
  @media screen and (max-width: $mq-phone) {
    margin: 10%;
  }

  h2 {
    font-size: $h2-font-size-big-screen;
  }

  p {
    min-width: 50%;
  }
}
