.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: absolute;
  right: 100%;
  bottom: 10%;
}

.imageModal {
  width: 40vw;
}

.small {
  width: 15vw;
  cursor: zoom-in;
  border-radius: 10px;
}
